# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Generated Outputs
outputs/
failed_prescriptions/
prescriptions/


# Cache Data
cache/medicine_cache.json

# Logs
logs/*.log
logs/*.txt

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db